.App{
  max-width: 1440px;
  width: 100%;
  margin: auto;
  height: 100vh;
  padding: 20px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
}
.flex{
  display: flex;
}
.primary__btn{
  background-color: #470101;
  color: #ffffff;
  padding: 5px;
  border: 0;
  border-radius: 4px;
  margin-top: 20px;
}